---
- name: run ceph report
  shell:
    ceph report | gzip -c > ceph_report_{{ hostvars['localhost'].checkup_timestamp }}.gz

- name: fetch ceph report
  fetch:
    src: ceph_report_{{ hostvars['localhost'].checkup_timestamp }}.gz
    dest: status

- name: run ceph -s
  shell:
    ceph -s > ceph_s_{{ hostvars['localhost'].checkup_timestamp }}.txt

- name: fetch ceph -s
  fetch:
    src: ceph_s_{{ hostvars['localhost'].checkup_timestamp }}.txt
    dest: status

- name: run ceph health detail
  shell:
    ceph df > ceph_health_detail_{{ hostvars['localhost'].checkup_timestamp }}.txt

- name: fetch ceph health detail
  fetch:
    src: ceph_health_detail_{{ hostvars['localhost'].checkup_timestamp }}.txt
    dest: status

- name: run ceph osd tree
  shell:
    ceph osd tree > ceph_osd_tree_{{ hostvars['localhost'].checkup_timestamp }}.txt

- name: fetch ceph osd tree
  fetch:
    src: ceph_osd_tree_{{ hostvars['localhost'].checkup_timestamp }}.txt
    dest: status

- name: run ceph df
  shell:
    ceph df > ceph_df_{{ hostvars['localhost'].checkup_timestamp }}.txt

- name: fetch ceph df
  fetch:
    src: ceph_df_{{ hostvars['localhost'].checkup_timestamp }}.txt
    dest: status

- name: get crushmap
  shell:
    ceph osd getcrushmap -o ceph_crushmap_{{ hostvars['localhost'].checkup_timestamp }}

- name: decompile crushmap
  shell:
    crushtool -d ceph_crushmap_{{ hostvars['localhost'].checkup_timestamp }} -o ceph_crushmap_{{ hostvars['localhost'].checkup_timestamp }}.txt

- name: fetch crushmap
  fetch:
    src: ceph_crushmap_{{ hostvars['localhost'].checkup_timestamp }}.txt
    dest: status
